<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="dashboard.css" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <title>New York Times</title>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" style="height: 6rem;">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">
            <img src="nytimesw.png" width="150" alt="NY Times">
          </a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar navbar-collapse collapse" id="navbar">
          <ul class="nav nav-sidebar" style="margin-top: 1rem;">
            <li v-for="heading in headings"><a href="#">{{ heading }}</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="app">
          <!-- <h1 class="page-header">NY Times Article Search Dashboard</h1> -->

          <h3 class="text-center">Search for some breaking news over the world <br>OR just press the search icon to get the general news</h5>
          <div class="searchbar">
            <input class="search_input" type="text" placeholder="e.g. election" v-model="query" v-on:keyup.enter="retreive(query,0)">
            <a @click="retreive(query,0)" class="search_icon"><i class="fas fa-search"></i></a>
          </div>
          
          <div v-if="results.length != 0">
            <br>
            <h4 class="sub-header">Here are the <span v-if="query.length == 0">general news</span> <span v-else>search results for "{{ query }}"</span></h4>
            <p style="text-align: right;">Page: {{page+1}}</p>
            <div class="table-responsive" style="font-size: small;">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 11%;">Date</th>
                    <th>Headline</th>
                    <th>Summary</th>
                    <th>URL</th>
                    <th style="width: 11%;">Source</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="result in results">
                    <td>{{ dateformat(result.pub_date) }}</td>
                    <td>{{ result.headline.main }}</td>
                    <td>{{ result.abstract }}</td>
                    <td>{{ result.web_url }}</td>
                    <td>{{ result.source }}</td>
                  </tr>
                </tbody>
              </table>
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                  <li class="page-item">
                    <a class="page-link" @click="retreive(query,page-1)">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" @click="retreive(query,0)">1</a></li>
                  <li class="page-item"><a class="page-link" @click="retreive(query,1)">2</a></li>
                  <li class="page-item"><a class="page-link" @click="retreive(query,2)">3</a></li>
                  <li class="page-item"><a class="page-link" @click="retreive(query,3)">4</a></li>
                  <li class="page-item"><a class="page-link" @click="retreive(query,4)">5</a></li>
                  <li class="page-item"><a class="page-link" @click="retreive(query,5)">6</a></li>
                  <li class="page-item"><a class="page-link" @click="retreive(query,6)">7</a></li>
                  <li class="page-item"><a class="page-link" @click="retreive(query,7)">8</a></li>
                  <li class="page-item"><a class="page-link" @click="retreive(query,8)">9</a></li>
                  <li class="page-item"><a class="page-link" @click="retreive(query,9)">10</a></li>
                  <li class="page-item">
                    <a class="page-link" @click="retreive(query,page+1)">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
            <!-- <canvas id="myChart" width="200px" height="50px"></canvas> -->
          </div>

          <div v-else-if="loading" class="text-center">
            <h4>Loading...</h4>
          </div>
          <div v-else class="text-center">
            <br>
            <br>
            <img src="sample.svg" style="margin-top: 2rem;" width="300px" alt="search image here">
          </div>
          
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
